USE [master]
GO
/****** Object:  Database [DbElection]    Script Date: 9/14/2024 8:57:43 PM ******/
CREATE DATABASE [DbElection]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbVotes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbVotes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbVotes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DbVotes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbElection].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbElection]
GO
/****** Object:  Table [dbo].[TblCities]    Script Date: 9/14/2024 8:57:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCities](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[cityName] [varchar](20) NULL,
	[AParty] [int] NULL,
	[BParty] [int] NULL,
	[CParty] [int] NULL,
	[DParty] [int] NULL,
	[EParty] [int] NULL,
 CONSTRAINT [PK_TblCities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
